
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

/* header */

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;

    text-decoration: none;
  }
}

h1 {
  text-align: center;
}

#rectangle {
  height: 10px;
  width: 10px;
  background-color: red;
}
#time {
  color: white;
  padding-top: 12px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

input[type="radio"] {
  margin-top: 4px;
}

#container {
  margin-bottom: 40px;
}

.container {
  width: 90%;
}

.financial-year, .select-user {
  text-align: right;
  margin-top: 32px;
  label {
    font-size: 16px
  }
}
.radio-inline{
padding-left: 0px;
padding-right: 24px;
}
.legend-green, .legend-red{
      display: inline-block;
    height: 14px;
    width: 20px;
    margin-right: 24px;
    vertical-align: middle;
}
.legend-green{
background-color: green;
}
.legend-red{
background-color: red;
}
.holiday {
  margin-top: 26px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #008cba;
  border-color: #090909;

  .text-muted {
    color: #f5f5f5;
    margin: 10px;
    padding-right: 10%;
    text-align: right;
  }
}

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
